body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

img {
  display: inline-block;
  vertical-align: middle;
}

input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 250px;
}

select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 150px;
  margin-left: 10px;
}

button {
  padding: 10px;
  background-color: #59a0c4;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #265d9d;
}

button:disabled {
  background-color: dimgrey;
  opacity: 0.5;
  cursor: auto;
}

#results {
  display: none;
}

#excerpts, #glossary {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
  margin: 0 auto;
  overflow-y: scroll;
  max-height: 500px;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  top: 0;
  position: sticky;
}

tr:hover, tr:nth-child(even):hover {
  background-color: #c6c6c6;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.result-filter {
  display: block;
  align-items: center;
  margin-bottom: 20px;
}

.result-filter label {
  margin-right: 10px;
  font-weight: bold;
}

.result-filter select {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #444;
  transition: border-color 0.2s ease-in-out;
}

.result-filter select:hover,
.result-filter select:focus {
  border-color: #666;
}

#error-banner {
  display: none;
  align-items: center;
  background-color: #e14d4d;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-bottom: 5vh;
}

#error-banner a {
  color: #fff;
  font-weight: 500;
}

#error-banner .fa {
  margin-right: 10px;
}

#error-banner p {
  margin: 0;
  flex-grow: 1;
}

#warning-banner {
  display: none;
  align-items: center;
  background-color: #bfb21e;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-bottom: 10;
}

#warning-banner .fa {
  margin-right: 10px;
}

#warning-banner p {
  margin: 0;
  flex-grow: 1;
}

.continue-btn, .cancel-btn {
  display: block;
}

#loader {
  display: none;
  margin-top: 20px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #59a0c4;
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 1.5s linear infinite;
  margin: 0;
  padding: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#mark-results-container {
  display: none;
  margin-bottom: 10px;
}