<!DOCTYPE html>
<html lang="en">
  <head>
    <title>termic :: 404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <header>
    <a href="/" style="text-decoration: none">
      <h1>
        <img src="../static/images/logo.png" width="100px" height="100px" alt="Termic Logo">
        <span>termic</span>
      </h1>
    </a>
    </header>

    <h2>Page not found</h2>

	<footer><p>Enzo Doyen © 2023.&nbsp;—&nbsp;<a href="https://github.com/Spidersouris/termic" target="_blank"><i class="fa fa-github fa-xl"></i></a>&nbsp;—&nbsp;<a href="/changelog">v1.1.0</a></p></footer>

  </body>
</html>