<!DOCTYPE html>
<html lang="en">
  <head>
    <title>termic :: changelog</title>
    <meta name="description" content="An alternative to Microsoft Terminology Search">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="termic, microsoft, terminology, terminology base, translation, localization">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
      (function () {
        const theme = localStorage.getItem('theme') ||
          (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
        document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kit.fontawesome.com/c35e034406.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='theme-toggle.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div id="hamburger-container">
      <div id="hamburger" class="inactive">
        <a href="/changelog">Changelog</a>
        <img id="vertical-line" src="{{url_for('static', filename='images/svgs/vertical-line.svg')}}" height="20" width="20" alt="Right Arrow">
        <a href="/about">About</a>
      </div>
      <i id="hamburger-btn" class="fa fa-bars"></i>
    </div>

    <header>
      <h1>
        <a href="/" id="header-link">
          <img src="../static/images/logo.png" width="100px" height="100px" alt="Termic Logo">
          <span id="logo-title">termic<br><p id="logo-subtitle">An alternative to<br>Microsoft Terminology Search</p></span>
        </a>
      </h1>
      <div id="links">
        <ul>
          <li>
            <button id="theme-toggle" aria-label="Toggle theme" title="Toggle light/dark mode">
              <i class="fa-solid fa-moon"></i>
            </button>
          </li>
          <li><a href="/changelog"><img class="clock" src="../static/images/svgs/clock.svg" alt="Changelog Icon" width="40" height="40"><br>Changelog</a></li>
          <li><a href="/about"><i class="fa-solid fa-circle-info"></i><br>About</a></li>
        </ul>
      </div>
  </header>

    <h2 id="changelog-title"><img class="clock" src="{{url_for('static', filename='images/svgs/clock.svg')}}" height="60" width="60" alt="Changelog Icon">Changelog</h2>

    <div id="contact">
      <p>Is there something you'd like to see added to termic?<br>Please let us know!<br><br>
        <a href="../about#contact-form"><button class="contact">Send Feedback</button></a>
      </p>
    </div>

    <hr>

    <div class="changelog-container">
      <div class="changelog-version">
        <h3 id="v1.5.1" class="important">Version 1.5.1</h3>
        <span class="date">(February 16th, 2026)</span>
        <div class="changelog-content">
          <ul>
              <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Light Theme</b>
              <ul>
                <li>Added an option to switch between light and dark theme in the top-right menu.</li>
                <li>Theme matching user's OS preferences will be selected by default.</li>
              </ul>
              <li>Fixed a bug that made it possible to use the "Swap languages" button even if both or one of the languages were not selected.</li>
              <li>Fixed an issue with the contact form.</li>
              <li>Other miscellaneous fixes.</li>
          </ul>
        </div>
      </div>

      <hr>

      <div class="changelog-version">
        <h3 id="v1.5.0">Version 1.5.0</h3>
        <span class="date">(July 17th, 2023)</span>
        <b class="blog-post">A blog post is associated with this update. <a href="https://blog.edoyen.com/post/new-data-for-termic-and-plans-for-the-future" target="_blank">Click here to read it</a>.</b>
        <div class="changelog-content">
          <ul>
            <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">TM Data Period Option</b>
            <ul>
              <li>You can now select a data period when searching the translation memory.</li>
              <li>Two data periods are available: 2017 and 2020+.</li>
              <ul>
                <li>The 2017 data period is currently available for a handful of languages only (VSCode-supported languages minus Turkish). Compatible languages are marked with a <img src="../static/images/svgs/polygon.svg" height="15" width="15" class="polygon">polygon icon.</li>
                <ul>
                  <li>It includes a new dataset much wider than that of the 2020+ data period (including Windows and Visual Studio strings). Data is much more consequent but search may take longer.</li>
                  <li>Support for the 2017 data period will be extended to all languages in the future.</li>
                </ul>
                <li>The 2020+ data period is available for all languages.</li>
                <ul>
                  <li>It includes the classic dataset that was previously used for searching the translation memory (including exclusive VSCode strings). Data is thus less consequent but search is faster.</li>
                </ul>
              </ul>
            </ul>
            <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Side-by-side Results</b>
            <ul>
              <li>Added an option in the newly labeled "Results Display" section (was previously called "Filter Results") to show the results tables side-by-side rather than vertically.</li>
              <li>This new display mode is available on large screens only.</li>
            </ul>
            <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Swap Languages</b>
            <ul>
              <li>Added a button to swap source and target language dropdown selections.</li>
            </ul>
            <li>Relabeled from "termic — A replacement for Microsoft Terminology Search" to "termic — An alternative to Microsoft Terminology Search"</li>
            <li>Added extraction scripts (/scripts folder) and data download link (README.md) to <a href="https://github.com/spidersouris/termic" target="_blank" class="normal-link">termic's GitHub repo</a></li>
            <li>Added a VSCode icon in the "Products" column of the search results when the string was extracted from VSCode</li>
            <li>Improvements to the search UI</li>
            <li>Fixed double tap copy not working on mobile</li>
            <li>Fixed info message banner appearing below the "Contact" header on the "About" page if the info banner on the main page had not been dismissed</li>
          </ul>
        </div>
      </div>

    <hr>

      <div class="changelog-version">
        <h3 id="v1.4.1">Version 1.4.1</h3>
        <span class="date">(June 10th, 2023)</span>
        <div class="changelog-content">
          <ul>
            <span class="changelog-label languages">New languages</span>Added the following languages:
            <ul>
                <li>Catalan</li>
                <li>Icelandic</li>
                <li>Indonesian</li>
                <li>Valencian</li>
            </ul>
            <li>Fixed a bug that would cause a mode's results section to continue appearing in the next search even when there were no results if the previous search had been successful</li>
          </ul>
        </div>
      </div>

    <hr>

      <div class="changelog-version">
        <h3 id="v1.4.0">Version 1.4.0</h3>
        <span class="date">(June 8th, 2023)</span>
        <div class="changelog-content">
          <ul>
              <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Source Language Dropdown</b>
              <ul>
                <li>You can now specify another source language than English.</li>
              </ul>
              <span class="changelog-label data">New data</span><b class="data-title">Visual Studio Code Strings</b>
              <ul>
                <li>Strings from <a href="https://code.visualstudio.com/" target="_blank" class="normal-link">Visual Studio Code</a> were added to the database.</li>
                <li>Supports searching to and from the following languages: Czech, English, French, German, Italian, Japanese, Korean, Polish, Portuguese (Brazil), Russian, Simplified Chinese, Spanish (Spain), Traditional Chinese, and Turkish.</li>
                <li>These strings (unavailable on the Microsoft Language Portal) were extracted from the <a href="https://github.com/microsoft/vscode" target="_blank" class="normal-link">Visual Studio Code GitHub repository</a> (for English) and the <a href="https://github.com/microsoft/vscode-loc" target="_blank" class="normal-link">Visual Studio Code Language Packs GitHub repository</a> (for other languages).</li>
                <ul>
                  <li>The Python script used for extraction will be made available publicly as part of termic's next major update.</li>
                  <ul>
                    <li>We're also working on finding another solution for hosting data used by termic so that you can use it for your own purposes. Currently, only a part of the data is available in the <a href="https://github.com/spidersouris/termic-data" target="_blank" class="normal-link">termic-data GitHub repository</a>, as the repository exceeds GitHub's repository size limit. More information will be given as part of termic's next major update.</li>
                  </ul>
                </ul>
                <li>We aim at updating translations as well as adding the latest strings as they come on an ongoing basis (ideally at least once a month).</li>
              </ul>
              <span class="changelog-label languages">New languages</span>Added the following languages:<br><p>(Our plans are still to add most of the languages supported by Microsoft Terminology Search before the service shuts down on June 30th. We're actively working on streamlining the process so that it gets easier adding new batches of languages.)</p>
              <ul>
                <li>Croatian</li>
                <li>Galician</li>
                <li>Hebrew</li>
                <li>Latvian</li>
                <li>Lithuanian</li>
                <li>Norwegian (Bokmål)</li>
                <li>Norwegian (Nynorsk)</li>
                <li>Slovak</li>
              </ul>
              <li>Added an <a href="/about" target="_blank" class="normal-link">About</a> page, which includes a FAQ section as well as a contact form</li>
              <li>Updated the header to include both the "About" and "Changelog" pages</li>
              <li>Added a banner for showcasing new major updates</li>
              <li>Added local storage for source language, target language, glossary result count, and TM result count</li>
              <ul>
                <li>That means that when you come back to termic, the information you used last time will be pre-selected.</li>
              </ul>
              <li>Broad match is now the default match type value</li>
              <li>Selected source and target languages are now included below the "Source" and "Translation" headers in the search results table</li>
              <li>Search UI changes to accomodate for the new source language dropdown</li>
              <li>Fixed target language dropdown label not updating according to the "l" URL parameter value</li>
              <li>Fixed case sensitivity constantly applying</li>
              <li>Fixed mode results section appearing even though there were no results being returned</li>
          </ul>
        </div>
      </div>

      <hr>

      <div class="changelog-version">
        <h3 id="v1.3.1">Version 1.3.1</h3>
        <span class="date">(May 31st, 2023)</span>
        <div class="changelog-content">
          <ul>
              <li>Search input is now focused on page load</li>
              <li>When no results are returned for a specific mode, that mode's section is now hidden in the search results</li>
              <li>Fixed search not working when only one mode was selected</li>
          </ul>
        </div>
      </div>

      <hr>

      <div class="changelog-version">
        <h3 id="v1.3.0">Version 1.3.0</h3>
        <span class="date">(May 23th, 2023)</span>
        <div class="changelog-content">
          <ul>
              <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Column Sorting</b>
              <ul>
                <li>Columns can now be sorted ascendingly or descendingly by clicking on their heading.</li>
                <li>Supports alphanumeric and numeric sorting.</li>
              </ul>
              <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Case Sensitivity Search Option</b>
              <ul>
                  <li>Case sensitivity can now be taken into account when searching.</li>
                  <li><i>Note: this option is disabled with the RegExp match type.</i></li>
              </ul>
              <span class="changelog-label languages">New languages</span>Added the following languages:
              <ul>
                  <li>Arabic</li>
                  <li>Belarusian</li>
                  <li>Finnish</li>
                  <li>Japanese</li>
                  <li>Korean</li>
                  <li>Thai</li>
              </ul>
              <li>Improvements to the search UI</li>
              <ul>
                <li>Increased compactness.</li>
                <li>Enhanced the "Search Options" section.</li>
              </ul>
              <li>More backend improvements</li>
          </ul>
        </div>
      </div>

    <hr>

    <div class="changelog-version">
        <h3 id="v1.2.0">Version 1.2.0</h3>
        <span class="date">(May 20th, 2023)</span>
        <div class="changelog-content">
          <ul>
              <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Toggles</b>
              <ul>
                <li>Added toggles for glossary/TM search, enabling to search exclusively within the glossary or the translation memory.</li>
              </ul>
              <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Target Language Search</b>
              <ul>
                  <li>The "Target Language" dropdown now features a search system to help you find your favorite language.</li>
                  <li>This feature was only deployed to non-mobile devices, as mobile devices' default dropdown selectors are already convenient enough, and using the search system on mobile would prove cumbersome.</li>
              </ul>
              <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">RegExp Search Option</b>
              <ul>
                  <li>You can now search using <a href="https://xkcd.com/208/" target="_blank" class="normal-link">regular expressions</a>.</li>
              </ul>
              <span class="changelog-label languages">New languages</span>Added the following languages:
              <ul>
                  <li>French (Canada)</li>
                  <li>Portuguese (Brazil)</li>
                  <li>Portuguese (Portugal)</li>
              </ul>
              <li>Simplified the display of search options</li>
              <ul>
                <li>The old, ugly "Exact match" checkbox has been replaced with three search options above the "Search" button (Exact match, Broad match, RegExp).<br>For convenience, these options are common to both the glossary and the TM.</li>
              </ul>
              <li>Added a "Search Filters" section</li>
              <ul>
                <li>This section appears after searching and features the "Highlight Results" option.</li>
              </ul>
              <li>Backend improvements</li>
              <li>Fixed "%" and "_" being considered wildcard characters</li>
          </ul>
        </div>
    </div>

    <hr>

    <div class="changelog-version">
        <h3 id="v1.1.0">Version 1.1.0</h3>
        <span class="date">(May 17th, 2023)</span>
        <div class="changelog-content">
            <ul>
                <span class="changelog-label feature">New feature</span><span class="fire"></span><b class="new-title">Copy</b>
                <ul>
                    <li>Added the ability to copy result rows.</li>
                    <li>On non-touchscreen devices, a convenient copy button is now available at the end of each row.</li>
                    <li>On touch-enabled mobile devices, simply double-tap on a row to copy its content. A helpful tip is displayed on touch-enabled mobile devices to guide users.</li>
                </ul>
                <span class="changelog-label languages">New languages</span>Added the following languages:
                <ul>
                    <li>Bulgarian</li>
                    <li>Chinese (Simplified)</li>
                    <li>Chinese (Traditional)</li>
                    <li>Hungarian</li>
                    <li>Italian</li>
                    <li>Polish</li>
                    <li>Russian</li>
                    <li>Swedish</li>
                    <li>Turkish</li>
                </ul>
                <li>Added exact match for glossary/TM as URL parameters</li>
                <li>Renamed the "Spanish (LATAM)" language dropdown option to "Spanish (Mexico)"<br><i>(This change was made to avoid any ambiguity as Microsoft-provided UI strings and glossary are mainly using that variety of Spanish. Thanks to <a href="https://www.linkedin.com/in/claudiopribeiro" target="_blank" class="normal-link">Cláudio Ribeiro</a> for the feedback.)</i></li>
                <li>Fixed the "Mark results" search option not appearing</p>
            </ul>
        </div>
    </div>
    </div>

    <footer><p><a href="https://edoyen.com/" target="_blank" class="edoyen-link">Enzo Doyen</a> © <script>document.write(currentYearFooter);</script>.&nbsp;—&nbsp;<a href="https://github.com/Spidersouris/termic" target="_blank"><i class="fa fa-github fa-xl"></i></a>&nbsp;—&nbsp;<a href="/changelog">v<script>document.write(currentVersionHTML);</script></a></p></footer>

  </body>
</html>